body {
	margin: 1920px;
    background-image: url(image/Background.jpg);
    

display: flex;
flex-wrap: wrap;

}

#D1 {
      position: absolute;
    display: flex;
    flex-wrap: wrap;
left: 275px;
top: 100px;
}

#D2 {
      position: absolute;
    display: flex;
    flex-wrap: wrap;
     left: 815px;
     top: 60px;
 
}
#D3 {
      position: absolute;
    display: flex;
    flex-wrap: wrap;
     top: 80px;
     left: 1400px;

}

#B1 {

       position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 275px;
top: 300px;
  
}

#B2 {

       position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 300px;
     left: 815px;
}

#B3 {
       position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 300px;
   left: 1400px;
}

#expander {

           position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    left: 1700px;
}
