body {
  background-color: black; 
  color: #eee;
  font-family: "DM Serif Text", serif;
  padding: 3rem;
  line-height: 1.6;
}

#return {
  color: black;
  font-family: "DM Serif Text", serif;
}

a {
  color: rgb(255, 255, 255);
}

#excerpt {
  width: 10000px;
  margin-bottom: 2rem;
  font-size: 36px;
  white-space: pre-line;
  display: flex;
  flex: nowrap;
  position: absolute;
  top: 350px;
  left: 350px;
}

button {
  background: #333;
  color: #eee;
  border: 1px solid #555;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-family: "DM Serif Text", serif;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  top: 105px;
  float: right;
}

.container{
    display: flex;
    position: absolute;
    bottom: 0;
}

img {
    padding-right: 1500px;
}